.recipes-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Alinha os cards ao centro se sobrarem */
  gap: 50px;
  margin-bottom: 30px;
  font-family: "Quicksand";
}

#recipes-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}
