.search-section {
  margin-bottom: 24px;
  margin-top: 12px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 20px;
}

.search-input {
  width: 400px;
}

#search-input {
  background-color: #ffffef;
}

#search-btn {
  border-radius: 20px;
}
